.root {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.subheader {
    margin-bottom: 32px;
}

.extLinks {
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
}

.howToPlayLink:hover, .acknowledgementsLink:hover {
    cursor: pointer;
    color: #fff;
}

.usernameLabel {
    font-size: 4vw;
    font-weight: bold;
    text-align: center;
    margin: 5px auto 5px auto;
}

.usernameInput {
    border: 3px solid #000;
    border-radius: 5px;
    font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    font-size: 2.75vw;
    text-align: center;
    margin: 5px auto 5px auto;
}

.usernameValidationLabel {
    text-align: center;
    font-size: 1.5vw;
}

.gameScreen {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gameScreenLeft {
    width: 30vw;
    border-right: 3px dashed #000;
}

.playersLabel {
    font-size: 3.5vw;
    font-weight: bold;
    margin: 10px;
}

.playersList {
    border: 3px solid #000;
    border-radius: 5px;
    background-color: #fff;
    font-size: 24px;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    word-break: break-all;
}

.gameScreenRight {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin: 48px;
    font-weight: bold;
}

.gameScreenLeft li {
    margin: 8px 0;
}

.linkLabel, .link, .promptLabel, .liarLabel {
    font-weight: bold;
}

.promptLabel {
    font-size: 36px;
}

.currentPlayer {
    font-weight: bold;
    display: flex;
    align-items: center;
}

.currentPlayer::after {
    content: ' â†';
    font-size: 16px;
    margin-left: 1em;
}

.link {
    color: #fff;
}

.votingSection {
    font-size: 32px;
}

.votingOptions {
    display: flex;
    margin: 24px 0;
}

.votingOptions > button {
    margin-right: 24px;
}

.waiting {
    font-size: 48px;
    text-align: center;
}